<div class="proyectos" id="proyectos">
    <h2 style="text-align: center; padding-top: 4%; padding-bottom: 2%; font-family: cursive; font-size: xxx-large;">Proyectos</h2>

    <div class="main container">
        <div class="card-container">
            <div class="card">
                <a href="https://comics-marvel-eight.vercel.app/" target="_blank">
                    <img src="../../../assets/proyectos/marvelAPI.jpg" class="card-img-top" alt="...">
                </a>
            </div>
            <div class="card">
                <a href="https://rodo2504.github.io/react-notes/" target="_blank">
                    <img src="../../../assets/proyectos/notas.jpg" class="card-img-top" alt="...">
                </a>
            </div>
          <div class="card">
                <a href="https://reservacion-salas.up.railway.app/" target="_blank">
                    <img src="../../../assets/proyectos/salas.jpg" class="card-img-top" alt="...">
                </a>
            </div>
        </div>
    </div>
</div>
