<div class="formacion container" id="formacion">
    <h2 style="text-align: center; padding-top: 4%; font-family: cursive; font-size: xxx-large;">Formación</h2>
    <div class="info">
        <div class="texto">
            <p>
                -Soy egresado de la carrera de Ingeniería en Sistemas Computacionales por parte 
                de la Universidad Autónoma de Aguascalientes, generación 2017 - 2021.
            </p>
            <p>
                -Participe en una academia de Salesforce y ejercí como Salesforce Developer 
                durante un año.
            </p>
            <p>
                -Procuro mantenerme actualizado, me gusta investigar sobre nuevas tecnologías y/o herramientas en tendencia, 
                es por eso que he tomado algunos cursos en plataformas como Udemy y Coursera para complementar mi formación.
            </p>
        </div>
        <div class="imagen">
            <img src="../../../assets/formacion/estudios.png" width="90%" alt="">
        </div>
    </div>
    <div class="cursos">
        <div>
            <img src="../../../assets/formacion/cursoMongo.jpg" class="img-thumbnail">
        </div>
        <div>
            <img src="../../../assets/formacion/cursoNode.jpg" class="img-thumbnail">
        </div>
        <div>
            <img src="../../../assets/formacion/cursoTypescript.jpg" class="img-thumbnail">
        </div>
    </div>
</div>