<div class="formacion container" id="formacion">
    <h2 style="text-align: center; padding-top: 4%; font-family: cursive; font-size: xxx-large;">Formación</h2>
    <div class="info" data-aos="zoom-in" data-aos-duration="2500">
        <div class="texto">
            <p>
                -<strong>Universidad Autónoma de Aguascalientes</strong> - Ingenieria en Sistemas Computacionales. Generación 2017 - 2022
            </p>
            <p>
                -Además procuro mantenerme actualizado, me gusta investigar sobre nuevas tecnologías y/o herramientas en tendencia, 
                es por eso que he tomado algunos cursos en plataformas como Udemy y Coursera para complementar mi formación.
            </p>
        </div>
    </div>
    <div class="cursos">
        <div>
            <img src="../../../assets/formacion/cursoMongo.jpg" class="img-thumbnail">
        </div>
        <div>
            <img src="../../../assets/formacion/cursoNode.jpg" class="img-thumbnail">
        </div>
        <div>
            <img src="../../../assets/formacion/cursoTypescript.jpg" class="img-thumbnail">
        </div>
    </div>
</div>