<footer>
    <div class="footer-content">
        <i class="fa-regular fa-copyright"></i>
        <p style="margin: 5px;">Javier Quintero - 2022</p>
    </div>
    <ul class="socials">
        <li><a href="https://www.instagram.com/r.javierqm" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="https://github.com/Rodo2504" target="_blank"><i class="fa-brands fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/javier-quintero-martini-09209320a" target="_blank"
            ><i class="fa-brands fa-linkedin"></i>
            </a></li>
     </ul>
</footer>