<nav class="fixed-top navbar-light ">
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" (click)="toHome()">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" (click)="toFormacion()">Formacion</a>
          </li>
        <li class="nav-item">
            <a class="nav-link"  (click)="toSkills()">Habilidades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="toProjects()">Proyectos</a>
        </li>
    </ul>
</nav>