<div class="experiencia" id="experiencia">
    <h2 style="text-align: center; padding-top: 4%; padding-bottom: 2%; font-family: cursive; font-size: xxx-large;">Experiencia</h2>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-3">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title">Salesforce Developer - Adbansys</h5>
                        <h6> marzo 2023 -  </h6>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title">Salesforce Developer - Capgemini</h5>
                        <h6> junio 2021 - julio 2022</h6>
                        <hr>
                        <p class="card-text">- Capacitación como Salesforce Developer. </p>
                        <p class="card-text">- Creando interfaces de usuario y componentes para la plataforma, utilizando Lightning Web Components.</p>
                        <p class="card-text">- Diseñando e implementando soluciones customizadas, utilizando Apex (SOQL, DML, Triggers).</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title">Full Stack Developer - Universidad Autónoma de Aguascalientes</h5>
                        <h6> 2021</h6>
                        <hr>
                        <p class="card-text">- Elaboración de sistema de inscripción a cursos especiales como proyecto de servicio social.</p>
                        <p class="card-text">- Creando interfaz de usuario con Angular (Reactive Forms, Components, Routing, Directives) y Bootstrap.</p>
                        <p class="card-text">- Diseñando e implementando Back End, usando Express y MySql. Y consumiendo la API con ayuda de Angular Services y el módulo HTTP.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


