<div style="background-color: black;">
    <div class="inicio" id="home">
        <div data-aos="fade-down" data-aos-duration="2000" class="foto">
            <img src="../../../assets/imagenes/foto.JPG" alt="">
        </div> 
        <div data-aos="fade-down" data-aos-duration="2000" class="redes">
            <div>
                <a href="https://www.linkedin.com/in/javier-quintero-martini-09209320a" target="_blank">
                    <i class="bi bi-linkedin" style="font-size: 1.5rem; color: rgb(200, 200, 200);"></i>
                </a>
            </div>
            <div>
                <a href="https://github.com/Rodo2504" target="_blank">
                    <i class="bi bi-github" style="font-size: 1.5rem; color: rgb(200, 200, 200);"></i>
                </a>
            </div>
            <div>
                <a href="https://www.instagram.com/r.javierqm" target="_blank">
                    <i class="bi bi-instagram" style="font-size: 1.5rem; color: rgb(200, 200, 200);"></i>
                </a>
            </div>        
        </div>
        <div data-aos="zoom-in-right" data-aos-duration="3000" class="info">
            <article>
                <h6 style="color: #22CDE1; font-size: 18px; font-family: cursive;">Hola, yo soy</h6>
                <ngx-typed-js [strings]="['Rodolfo Javier Quintero Martini']" [loop]="true" [typeSpeed]="70" [backSpeed]="40">
                    <h2><span class="typing"></span></h2>
                </ngx-typed-js>
                <h4 style="margin-bottom: 25px; color: #EBEDED;">Full Stack Developer</h4>
                <p>
                    Desarrollador Web, me caracterizo por un buen entendimiento y razonamiento lógico
                    de problemas, siempre buscando la manera de optimizar procesos y aplicar buenas prácticas al momento de desarrollar, además me 
                    identifico como una persona que se encuentra en constate búsqueda de nuevo conocimiento.
                </p>
            </article>
        </div>   
    </div>
</div>