<div class="skills" id="skills">
    <h2 style="text-align: center; padding-top: 4%; padding-bottom: 2%; font-family: cursive; font-size: xxx-large;">Habilidades</h2>
    <section class="herramientas container-fluid">
        <article class="card">
            <img src="../../../assets/imagenes/web.webp">
        </article>
        <article class="card">
            <img src="../../../assets/imagenes/mysql.png">
        </article>
        <article class="card">
            <img src="../../../assets/imagenes/mongo.png">
        </article>
        <article  class="card">
            <img src="../../../assets/imagenes/git.png">
        </article>
        <article class="card">
            <img src="../../../assets/imagenes/node.png">
        </article>
        <article class="card">
            <img src="../../../assets/imagenes/Expressjs.png">
        </article>
        <article class="card">
            <img src="../../../assets/imagenes/angular.png">
        </article>
        <article class="card">
            <img src="../../../assets/imagenes/salesforce.png">
        </article>
    </section>
        
    <section class="idiomas container" data-aos="zoom-in-right" data-aos-duration="2500">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/imagenes/eng.png" alt="">
                        <p class="card-text"><strong>Nivel: </strong>B2</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                    <img src="../../../assets/imagenes/fr.png" alt="">
                    <p class="card-text"><strong>Nivel: </strong>B2</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>